[core]
        editor = "micro"
        autocrlf = false	
        eol = lf

[init]
        defaultBranch = "main"

[pull]
        rebase = true

[rerere]
        enabled = true

[user]
        email = "2013206+kress95@users.noreply.github.com"
        name = "Chris"

[includeIf "gitdir:%(prefix)/D:/Users/kress/Desktop/gitlab/"]
        path = ".gitlab.gitconfig"

[credential "helperselector"]
        selected = manager-core

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
