* {
    all: unset;
}

window#waybar {
    background-color: transparent;
    color: $foreground;
    font-size: 16px;
    font-weight: 400;
    min-height: 24px;
}

window#waybar>box {
    background: $absoluteBlack;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.5);
    margin: 0px;
    min-height: 24px;
    padding: 0px 4px;
}

tooltip {
    background: $background;
    border-radius: 4px;
    border: solid 1px $absoluteBlack;
}

/********************************************************************
 * WORKSPACES
 ********************************************************************/

#workspaces {
    font-size: 16px;
}

#workspaces button {
    color: $brightBlack;
    font-size: 12px;
    margin-top: 2px;
    padding: 0px 8px;
}

#workspaces button.active {
    border-top: solid 2px $foreground;
    color: $foreground;
    font-weight: 700;
    margin-top: 0px;
}

#workspaces button.visible {
    color: $foreground;
    font-weight: 700;
}

#workspaces button.urgent {
    color: $red;
}

/********************************************************************
 * WINDOW TITLE
 ********************************************************************/

#window {
    border-top: solid 2px $foreground;
    color: $foreground;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0px 8px;
}

#waybar.empty #window {
    border-top: none;
    margin: 0px;
    padding: 0px;
}

/********************************************************************
 * SUBMAP
 ********************************************************************/

#submap {
    border-top: solid 2px $foreground;
    color: $foreground;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0px 12px 0px 8px;
}

/********************************************************************
 * TRAY
 ********************************************************************/

#tray {
    border-top: solid 2px $white;
    margin: 0px 4px;
    padding: 0px 8px;
}

/********************************************************************
 * TEMPERATURE
 ********************************************************************/

#temperature {
    border-top: solid 2px $brightRed;
    color: $brightRed;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0px 4px;
}

/********************************************************************
 * CPU
 ********************************************************************/

#cpu {
    border-top: solid 2px $brightGreen;
    color: $brightGreen;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 12px 0px 4px;
}

/********************************************************************
 * MEMORY
 ********************************************************************/

#memory {
    border-top: solid 2px $brightYellow;
    color: $brightYellow;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 12px 0px 4px;
}

/********************************************************************
 * DISK
 ********************************************************************/

#disk {
    border-top: solid 2px $brightPurple;
    color: $brightPurple;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 12px 0px 4px;
}

/********************************************************************
 * NETWORK
 ********************************************************************/

#network {
    border-top: solid 2px $brightCyan;
    color: $brightCyan;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 12px 0px 4px;
}

/********************************************************************
 * BLUETOOTH
 ********************************************************************/

#bluetooth {
    border-top: solid 2px $brightBlue;
    color: $brightBlue;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 12px 0px 4px;
}

/********************************************************************
 * KEYBOARD-STATE
 ********************************************************************/

#keyboard-state {
    border-top: solid 2px $brightPurple;
    color: $brightPurple;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0px 4px;
}

#keyboard-state label {
    color: $purple;
    margin: 0px 4px;
}

#keyboard-state label.locked {
    color: $brightPurple;
}

/********************************************************************
 * MEDIA
 ********************************************************************/

#wireplumber {
    border-top: solid 2px $brightBlue;
    color: $brightBlue;
    font-size: 14px;
    margin: 0px 4px;
    padding: 0px 8px;
}

#wireplumber.muted {
    border-top: solid 2px $blue;
    color: $blue;
}

/********************************************************************
 * CALENDAR
 ********************************************************************/

#clock.date {
    border-top: solid 2px $foreground;
    color: $foreground;
    font-size: 14px;
    margin: 0px 4px;
    /* TODO: review */
    padding: 0px 14px 0px 8px;
}

/********************************************************************
 * CLOCK
 ********************************************************************/

#clock.time {
    border-top: solid 2px $foreground;
    color: $foreground;
    font-size: 14px;
    margin: 0px 0px 0px 4px;
    /* TODO: review */
    padding: 0px 8px;
}
